nginx_access.log
nohup.out
sftp-config.json
.DS_Store
cache/*
log/*
crond/lock/*
public/cms/*
cms/*
activity/*
fcategory/*
ftag/*
couponbanner/*
node_modules/
.idea/
npm-debug.log
public/mm/config/
public/release/static/
*/gulpfile.js
.vscode-upload.json
.vscode
.history
cscope.*
tags
lanlan.release
package-lock.json
dockerfiles/*
docker-compose.yml

public/taoke/js/*
public/fx/js/*
public/im/js/*
public/distribute/js/*
public/saber/js/*
public/wqzs/js/*
public/campus/js/*
public/php_error.log

public/release/static/*

php_error.log
composer.phar
.buildpath
.project
.settings/*
*.yaml